<div>

    <div>
      <div class="col-xl-12">
        <br>
        <h2>Convenios de pago</h2>
        <h5 *ngIf="mostrarTotal">Total de gestiones : {{totalGes}} </h5>

        <div>
      
        </div>
        <mat-card class="example-card">

          <mat-card-header>
            <mat-card-title>Reportes convenios Realizados </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="callCenterForm">
              <div class="container">
                <div class="row ">
               
              
                  <div class="col-4">
                    <mat-form-field>
                      <input matInput  formControlName="fechFn" [matDatepicker]="picker1" placeholder="FECHA FINAL">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
               

                </div>
              </div>
            </form>
          </mat-card-content>
  
        </mat-card>
        <br>
  
        <mat-card class="example-card">
          <button *ngIf="showExport" mat-raised-button color="primary" (click)="export()">Exportar a Excel</button>
              
          <div class="container">
            <div class="row">
           
            <br>
            </div>
          </div>
          <div class="example-container mat-elevation-z8">
            <table mat-table #table [dataSource]="dataSource">

              <ng-container matColumnDef="CREDITO">
             
                <th mat-header-cell *matHeaderCellDef>CREDITO </th>
                <td mat-cell *matCellDef="let element"> {{element.CREDITO}} </td>
              </ng-container>
            
              <ng-container matColumnDef="CLIENTE">
                <th mat-header-cell *matHeaderCellDef> CLIENTE </th>
                <td mat-cell *matCellDef="let element"> {{element.CLIENTE}} </td>
              </ng-container>
      
              <ng-container matColumnDef="PAGONO">
                <th mat-header-cell *matHeaderCellDef> PAGO ABONO </th>
                <td mat-cell *matCellDef="let element"> {{element.PAGONO}} </td>
              </ng-container>
            
              <ng-container matColumnDef="FECHAPAGO">
                <th mat-header-cell *matHeaderCellDef>FECHA PAGO </th>
                <td mat-cell *matCellDef="let element"> {{element.FECHAPAGO}} </td>
              </ng-container>
            

          
            
              <ng-container matColumnDef="CUOTA">
                <th mat-header-cell *matHeaderCellDef> CUOTA </th>
                <td mat-cell *matCellDef="let element"> {{element.CUOTA}} </td>
              </ng-container>
        
              <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
              <tr mat-row [ngClass]="{'make-gold': row.SHOW }" *matRowDef="let row; columns: displayedColumns;"
                class="example-element-row"></tr>
            </table>
  
  
          </div>
          <div>
            <mat-paginator 
            [length]="length"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent = getServerData($event)" showFirstLastButtons></mat-paginator>
          </div>
        </mat-card>
      </div>
    </div>
  </div>