<div class="div_principal">
  <mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
        <form [formGroup]="loginForm" (submit)="verifyLogin()">
          <div class="container justify-content-center">
            <div class="row">
              <div class="col-10">
                <mat-form-field class="col-12">
                  <input formControlName="user" matInput placeholder="USUARIO">
                </mat-form-field>
              </div>
              <div class="col-10">
                <mat-form-field class="col-12">
                  <input formControlName="password" matInput type="password" placeholder="CONTRASEÑA">
                </mat-form-field>
              </div>
            </div>
          </div>
      
      <div class="login_button">
        <button mat-raised-button color="primary" type="submit">Entrar</button>
      </div>
    </form>
  </div>
    </mat-card-content>
  </mat-card>
</div>