.mat-progress-spinner {
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    background-color: rgba(0,0,0,0.3);

}
.div_principal {
    padding-inline-start: 35%;
    width: 62%;
    height: 30%;
    padding-block-start: 1.5em;
}  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .login_button {
      padding-inline-start: 11%
  }
  .buttons {
      padding-right: 1px
  }
  .hola {
   
  }