
table {
    width: 100%;
  }
  td.mat-column-star {
    width: 30px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 15px;
  }
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-cell {
    padding: 1.5em;
  }
  
  .mat-header-cell {
    padding: 1.5em;
    font-size: 0.85em; 
  }
  
  tr.example-detail-row {
    height: 0;
  }
  table tr {
    background-color:#3949ab;
    padding-left: 2em;
  }
  .example-tooltip-blue {
    background: #3949ab;
  }
  
  th {
    color: rgba(255, 255, 255, 0.993);
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .mat-row:nth-child(even){
    background-color:rgba(209, 215, 230, 0.692)
  }
  
  .mat-row:nth-child(odd){
    background-color:rgb(255, 255, 255)
  }
  .mat-icon-button {
    width: 5em;
    height: 5em;
  }