<div>

    <div>
      <div class="col-xl-12">
        <br>
        <h2>Call Center</h2>
        <h5 *ngIf="mostrarTotal">Total de gestiones : {{totalGes}} </h5>

        <div>
      
        </div>
        <mat-card class="example-card">

          <mat-card-header>
            <mat-card-title>Creditos en mora, asignados; mayor a 1 dia</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="callCenterForm">
              <div class="container">
                <div class="row ">
               
                  
                  <div class="col-4">
                    <mat-form-field>
                      <mat-label>SUCURSALES</mat-label>
                      <mat-select formControlName="sucursal">
                        <mat-option *ngFor="let food of sucursales" [value]="food.CODIGO">
                          {{food.SUCURSAL}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
               

                </div>
              </div>
            </form>
          </mat-card-content>
  
        </mat-card>
        <br>
  
        <mat-card class="example-card">
          <button *ngIf="showExport" mat-raised-button color="primary" (click)="export()">Exportar a Excel</button>
              
          <div class="container">
            <div class="row">
           
            <br>
            </div>
          </div>
          <div class="example-container mat-elevation-z8">
            <table mat-table #table [dataSource]="dataSource">

              <ng-container matColumnDef="ID_CREDITO">
             
                <th mat-header-cell *matHeaderCellDef>CREDITO </th>
                <td mat-cell *matCellDef="let element"> {{element.ID_CREDITO}} </td>
              </ng-container>
            
              <ng-container matColumnDef="CIERRE">
                <th mat-header-cell *matHeaderCellDef> CIERRE </th>
                <td mat-cell *matCellDef="let element"> {{element.CIERRE}} </td>
              </ng-container>
      
              <ng-container matColumnDef="PROGRAMAD">
                <th mat-header-cell *matHeaderCellDef> PROGRAMA </th>
                <td mat-cell *matCellDef="let element"> {{element.PROGRAMAD}} </td>
              </ng-container>
            
              <ng-container matColumnDef="NOMBRE">
                <th mat-header-cell *matHeaderCellDef>NOMBRE </th>
                <td mat-cell *matCellDef="let element"> {{element.NOMBRE}} </td>
              </ng-container>
            
              <ng-container matColumnDef="DIASMORA">
                <th mat-header-cell *matHeaderCellDef> DIAS MORA </th>
                <td mat-cell *matCellDef="let element"> {{element.DIASMORA}} </td>
              </ng-container>
            
              <ng-container matColumnDef="FECHA_ENTREGA">
                <th mat-header-cell *matHeaderCellDef> FECHA ENTREGA </th>
                <td mat-cell *matCellDef="let element"> {{element.FECHA_ENTREGA}} </td>
              </ng-container>
            
              <ng-container matColumnDef="FECHA_VENCIMIENTO">
                <th mat-header-cell *matHeaderCellDef> FECHA VENCIMIENTO </th>
                <td mat-cell *matCellDef="let element"> {{element.FECHA_VENCIMIENTO}} </td>
              </ng-container>
            
              <ng-container matColumnDef="CAPITAL_OTORGADO">
                <th mat-header-cell *matHeaderCellDef> CAPITAL OT.</th>
                <td mat-cell *matCellDef="let element"> {{element.CAPITAL_OTORGADO}} </td>
              </ng-container>
              
              <ng-container matColumnDef="GRANTOTAL">
                <th mat-header-cell *matHeaderCellDef> TOTAL</th>
                <td mat-cell *matCellDef="let element"> {{element.GRANTOTAL}} </td>
              </ng-container>
              <ng-container matColumnDef="MORA_REC_TOTAL">
                <th mat-header-cell *matHeaderCellDef> MORA</th>
                <td mat-cell *matCellDef="let element"> {{element.MORA_REC_TOTAL}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
              <tr mat-row [ngClass]="{'make-gold': row.SHOW }" *matRowDef="let row; columns: displayedColumns;"
                class="example-element-row"></tr>
            </table>
  
  
          </div>
          <div>
            <mat-paginator 
            [length]="length"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent = getServerData($event)" showFirstLastButtons></mat-paginator>
          </div>
        </mat-card>
      </div>
    </div>
  </div>